/* 
Amy Zuell 2025
Adapt to different devices
Desktop             1280×720 through 1920×1080.
Tablet displays from 601×962 through 1280×800.
Mobile displays from 360×640 through 414×896.
*/


/* Tablet and Mobile */
@media screen and (max-width:1280px) {

    /* SPLASH SCREEN */
    .splash-text span {
        display: none;
    }

    .splash-text:after {
        content: "Tap to enter";
    }

    #home {
        gap: 2rem;
    }


}

/* Remove bottom scroll bar on splash screen */
@media screen and (max-width:1588px) {

    /* GAMEBOY STYLE TEXT */

    .gameboy-text {
        position: fixed;
    }

}

/* Mobile */
@media screen and (max-width:800px) {
    
    .gb-subtitle-text {
        font-family: nintendoFont;
        font-size: 1rem;
        letter-spacing: -0.2px;
        background-color: white;
        display: flex;
        padding-top: 6rem;
    }

    /* GAMEBOY STYLE TEXT */

    .gameboy-text {
        font-size: 50px;
        width: 780px;
        background-position: 200px;
        position: fixed;
    }

    @keyframes gameboy-text {
        0% {
            color: var(--color-gb-yellow);
            background-position: -200px;
            opacity: 0;
        }
        11.7% {
            opacity: 0;
        }
        12% {
            color: var(--color-gb-yellow);
            background-position: -200px;
            opacity: 1;
        }
        19.5% {
            color: var(--color-gb-yellow);
        }
        21% {
            color: var(--color-gb-red);
        }
        28.5% {
            color: var(--color-gb-red)
        }
        30% {
            color: var(--color-gb-pink);
        }
        37.5% {
            color: var(--color-gb-pink);
        }
        39% {
            color: var(--color-gb-green);
        }
        46.5% {
            color: var(--color-gb-green);
        }
        48% {
            color: var(--color-gb-blue);
        }
        54% {
            background-position: 200px;
        }
        81% {
            opacity: 1;
        }
        96% {
            opacity: 0;
        } 
    }  
}

