/* GENERAL */

/* https://bchanx.com/animated-gameboy-in-css-blog */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

/* 
#e0f8cf light green
#86c06c mid green
#306850 dark green
#071821 black 
*/

:root {
    --color-green-light: #e0f8cf;
    --color-green-mid: #86c06c;
    --color-green-dark: #306850;
    --color-black: #071821;

    --color-gb-blue: #3232fc;
    --color-gb-green: #85e367;
    --color-gb-pink: #ff52e8;
    --color-gb-red: #ff0151;
    --color-gb-yellow: #f9e52e;
    --color-gb-white: #e8e8e8;
}

* {
    margin: 0;
    padding: 0;
    
}

/*body {
    font-family: 'Roboto Mono', monospace;
    background-color: white;
}*/

canvas, #overlayElement {
    display: block;
    width: 100vw;
    height: 100vh;
    position: absolute;
    /* pointer-events: auto;  */
}



/* SPLASH SCREEN */

@font-face {
    font-family: gameboyFont;
    src: url(./assets/Early\ GameBoy.ttf);
}

.splash-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    display: flex; 
    justify-content: center;
    align-items: center;
    z-index: 1; 
}

.splash-text {
    position: absolute;
    font-family: gameboyFont;
    font-size: 2rem;
    letter-spacing: -4px;
    background-color: white;
}

.splash-text:hover {
    cursor: default;
}

.splash-text span {
    display: flex;
}


/* GAMEBOY STYLE TEXT */

.gb-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    justify-content: center;
    align-items: center;
    display: none;
    flex-direction: column;

}

@font-face {
    font-family: nintendoFont;
    src: url(./assets/PressStart2P-vaV7.ttf);
}

.gb-subtitle-text {
    font-family: nintendoFont;
    font-size: 2rem;
    letter-spacing: -0.1px;
    background-color: white;
    display: flex;
    padding-top: 15rem;


    /* 
    flex-wrap: wrap;
    flex-direction: column; */
}

.gameboy-text {
    vertical-align: top;
    position: fixed;
    font-family: 'Asap', sans-serif;
    font-size: 6rem;
    font-weight: 700;
    font-style: italic;
    letter-spacing: -2px;
    text-align: center;
    opacity: 0;
    width: 1562px;
    /* -webkit-transform: skew(-5deg); */
    transform: skew(-5deg);
    overflow: hidden;
    white-space: nowrap;
    color: var(--color-gb-blue);
    background: -webkit-linear-gradient(0deg, var(--color-gb-blue) 45%, 
                                    var(--color-gb-green) 45%, var(--color-gb-green) 50%, 
                                    var(--color-gb-pink) 50%, var(--color-gb-pink) 55%, 
                                    var(--color-gb-red) 55%, var(--color-gb-red) 60%,
                                    var(--color-gb-yellow) 60%, var(--color-gb-yellow) 65%, 
                                    white 65%);
    background-position: 406px;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    /* -webkit-animation: gameboy-text 3s linear; */
    animation: gameboy-text 3s linear;
    /* animation: gameboy-text 3s infinite linear; */
    /* animation-play-state: paused; */
}

.gameboy-text:hover {
    cursor: default;
}

@keyframes gameboy-text {
    0% {
        color: var(--color-gb-yellow);
        background-position: -375px;
        opacity: 0;
    }
    11.7% {
        opacity: 0;
    }
    12% {
        color: var(--color-gb-yellow);
        background-position: -375px;
        opacity: 1;
    }
    19.5% {
        color: var(--color-gb-yellow);
    }
    21% {
        color: var(--color-gb-red);
    }
    28.5% {
        color: var(--color-gb-red)
    }
    30% {
        color: var(--color-gb-pink);
    }
    37.5% {
        color: var(--color-gb-pink);
    }
    39% {
        color: var(--color-gb-green);
    }
    46.5% {
        color: var(--color-gb-green);
    }
    48% {
        color: var(--color-gb-blue);
    }
    54% {
        background-position: 375px;
    }
    81% {
        opacity: 1;
    }
    96% {
        opacity: 0;
    } 
}  

/* HOME PAGE */

section {
    /* padding-top: 4vh; */
    /* height: 96vh; */
    /* margin: 0 10rem; */
    height: 100svh;
    box-sizing: border-box;
    min-height: fit-content;
    background-color: var(--color-black);
    
}

#home {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 100vh;
    align-items: center;
    flex-direction: column;

}

/* .home-img-container {
    width: 12rem;
    display: flex;
    margin: auto 0;
} */

.home-img {
    display: flex;
    width: 15rem;
    margin: auto 0;
}

.home-text {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    gap: 2rem;
    margin: 1rem;
}

.text-intro {
    font-family: gameboyFont;
    font-size: large;
    color: white;
}

.text-smile {
    font-family: nintendoFont;
    font-size: large;
    color: white;
}


/* FOOTER */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-family: gameboyFont;
    font-size: small;
    background-color: --color-black;
    color: white;
    text-align: center;
}







/* CONTENT */

/* .content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: black;
    
} */






